#define QWE     0
#define GAL     1
#define COL     2
#define GAM     3
#define NUM     4
#define FUN     5
#define NAV     6
#define MED     7
#define MAG     8

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 8>, <&to 8>;
        };

        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        gt: gaming_tap {
            label = "gaming_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <250>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

/*        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
*/
    };


    keymap {
        compatible = "zmk,keymap";

        Qwerty_Layer {
            bindings = <
&kp ESC    &kp N1     &kp N2      &kp N3       &kp N4       &kp N5                                &kp N6       &kp N7       &kp N8           &kp N9        &kp N0    &kp BSPC
&kp EQUAL  &kp Q      &kp W       &kp E        &kp R        &kp T                                 &kp Y        &kp U        &kp I            &kp O         &kp P     &kp BACKSLASH
&kp TAB    &kp A      &kp S       &kp D        &kp F        &kp G                                 &kp H        &kp J        &kp K            &kp L         &kp SEMI  &kp SQT
&kp GRAVE  &kp Z      &ht LALT X  &ht LCTRL C  &ht LSHFT V  &kp B       &kp DQT        &kp MINUS  &kp N        &ht RSHFT M  &ht RCTRL COMMA  &ht RALT DOT  &kp FSLH  &kp PG_UP
&magic 9 0 &kp LGUI   &kp LEFT    &kp RIGHT    &kp LSHFT    &lt 7 BSPC  &lt 6 DEL      &lt 4 RET  &lt 5 SPACE                                              &kp RALT  &kp PG_DN
            >;
            label = "QWE";
        };

        GalMod_Layer {
            bindings = <
&kp ESC    &kp N1     &kp N2      &kp N3       &kp N4       &kp N5                                &kp N6       &kp N7       &kp N8           &kp N9        &kp N0    &kp BSPC
&kp EQUAL  &kp Q      &kp W       &kp E        &kp R        &kp T                                 &kp Y        &kp U        &kp I            &kp O         &kp P     &kp BACKSLASH
&kp TAB    &kp A      &kp S       &kp D        &kp F        &kp G                                 &kp H        &kp J        &kp K            &kp L         &kp SEMI  &kp SQT
&kp GRAVE  &kp Z      &ht LALT X  &ht LCTRL C  &ht LSHFT V  &kp B       &kp DQT        &kp MINUS  &kp N        &ht RSHFT M  &ht RCTRL COMMA  &ht RALT DOT  &kp FSLH  &kp PG_UP
&magic 9 0 &kp LGUI   &kp LEFT    &kp RIGHT    &kp LSHFT    &lt 7 BSPC  &lt 6 DEL      &lt 4 RET  &lt 5 SPACE                                              &kp RALT  &kp PG_DN
            >;
            label = "GAL";
        };

        Colemak_Layer {
            bindings = <
&kp ESC    &kp N1     &kp N2      &kp N3       &kp N4       &kp N5                                &kp N6       &kp N7       &kp N8           &kp N9        &kp N0    &kp BSPC
&kp EQUAL  &kp Q      &kp W       &kp F        &kp P        &kp B                                 &kp J        &kp L        &kp U            &kp Y         &kp SEMI  &kp BACKSLASH
&kp TAB    &kp A      &kp R       &kp S        &kp T        &kp G                                 &kp M        &kp N        &kp E            &kp I         &kp O     &kp SQT
&kp GRAVE  &kp Z      &ht LALT X  &ht LCTRL C  &ht LSHFT D  &kp V       &kp DQT        &kp MINUS  &kp K        &ht RSHFT H  &ht RCTRL COMMA  &ht RALT DOT  &kp FSLH  &kp PG_UP
&magic 9 0 &kp LGUI   &kp LEFT    &kp RIGHT    &kp LSHFT    &lt 7 BSPC  &lt 6 DEL      &lt 4 RET  &lt 5 SPACE                                              &kp RALT  &kp PG_DN
            >;
            label = "COL";
        };

        Gaming_Layer {
            bindings = <
&kp ESC    &kp N1     &kp N2      &kp N3       &kp N4       &kp N5                                &kp N6       &kp N7       &kp N8           &kp N9        &kp N0    &kp BSPC
&kp EQUAL  &kp Q      &kp W       &kp E        &kp R        &kp T                                 &kp Y        &kp U        &kp I            &kp O         &kp P     &kp BACKSLASH
&kp TAB    &kp A      &kp S       &kp D        &kp F        &kp G                                 &kp H        &kp J        &kp K            &kp L         &kp SEMI  &kp SQT
&kp GRAVE  &kp Z      &ht LALT X  &ht LCTRL C  &kp LSHFT V  &kp B       &kp DQT        &kp MINUS  &kp N        &ht RSHFT M  &ht RCTRL COMMA  &ht RALT DOT  &kp FSLH  &kp PG_UP
&kp LGUI   &kp MINUS  &kp LEFT    &kp RIGHT    &kp LSHFT    &lt 7 BSPC  &lt 6 DEL      &lt 4 RET  &lt 5 SPACE                                              &kp RALT  &kp PG_DN
            >;
            label = "GAM";
        };

        number_layer {
            bindings = <
&trans  &trans           &trans    &trans    &trans    &trans                          &trans     &trans         &trans        &trans     &trans     &trans
&trans  &kp BSLH         &kp LBKT  &kp LBRC  &kp LPAR  &kp SQT                         &kp GRAVE  &kp RPAR       &kp RBRC      &kp RBKT   &kp EQUAL  &trans
&trans  &kp N1           &kp N2    &kp N3    &kp N4    &kp N5                          &kp N6     &kp N7         &kp N8        &kp N9     &kp N0     &trans
&trans  &kp EXCLAMATION  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT  &trans  &key_repeat  &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp MINUS  &kp UNDER  &trans
&trans  &trans           &trans    &trans    &trans    &trans     &trans  &trans       &trans                                             &trans     &trans
            >;

            label = "NUM";
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans                  &trans   &trans   &trans   &trans   &trans   &trans
&none  &kp F21  &kp F22  &kp F23  &kp F24  &none                   &none    &none    &none    &none    &none    &none
&none  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &none
&trans &kp F11  &kp F12  &kp F13  &kp F14  &kp F15 &trans  &trans  &kp F16  &kp F17  &kp F18  &kp F19  &kp F20  &trans
&trans &trans   &trans   &trans   &trans   &trans  &trans  &trans  &trans                              &trans   &trans
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
&none  &none      &none         &none       &none         &none                       &none      &none          &none             &none     &none      &none
&none  &kp PSCRN  &none         &none       &none         &none                       &none      &kp C_AC_BACK  &kp C_AC_FORWARD  &none     &none      &none
&none  &kp LGUI   &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp PG_UP                   &kp PG_DN  &kp UP         &kp DOWN          &kp LEFT  &kp RIGHT  &none
&none  &none      &none         &kp LALT    &kp TAB       &kp HOME  &none     &none   &kp END    &kp H          &kp J             &kp K     &kp L      &none
&none  &none      &none         &none       &none         &none     &none     &none   &none                                                 &none      &none
            >;
        };

        med_layer {
            label = "MED";
            bindings = <
&kp EQUAL  &kp N1      &kp N2    &kp N3     &kp N4          &kp N5                        &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp MINUS
&kp ESC    &sys_reset  &none     &none      &studio_unlock  &bootloader                   &bootloader   &none         &none         &none         &sys_reset    &kp FSLH
&kp TAB    &kp LGUI    &kp LALT  &kp LCTRL  &kp LSHFT       &out OUT_USB                  &out OUT_BLE  &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT    &kp MINUS
&kp GRAVE  &none       &none     &none      &none           &bt BT_CLR    &trans  &trans  &kp C_STOP    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &bt BT_SEL 0  &none
&trans     &trans     &trans     &trans     &trans          &trans        &trans  &trans  &trans                          &trans  &trans
            >;
        };

         magic_layer {
            label = "MAG";
            bindings = <
&none        &none            &none            &none            &none            &none                           &none  &none  &none  &none  &none  &bt BT_CLR_ALL
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                 &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                 &none  &none  &none  &none  &none  &bootloader
&none        &none            &none            &none            &none            &none           &none   &none   &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none            &none           &none   &none   &none                       &none  &none
            >;
        };
    };
};
